@font-face {
    font-family: SpartanMB;
    src: url(fonts/SpartanMB-Regular.otf);
}

* {
    box-sizing: border-box;
}

/*////////////////////////////////////////////////////////////////////////////////*/

header {
    font-family: SpartanMB;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
} 

h1 {
    width: 100%;  
    text-align: center;
}

nav {
    align-self: center;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu {
    list-style-type: none;
}

.menu--icon {
    display: none;
}

.menu--expanded {

}

/*////////////////////////////////////////////////////////////////////////////////*/
@media screen and (min-width: 500px) {
    
}
