@font-face {
    font-family: SpartanMB;
    src: url(fonts/SpartanMB-Regular.otf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.rwd {
    display: block;
}

/*////////////////////////////////////////////////////////////////////////////////*/
 
header {
    font-family: SpartanMB;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
} 
 
h1 {
    width: 100%;  
    text-align: center;
    font-size: 45px; 
}

nav {
    align-self: center;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu {
    list-style-type: none;
}

.menu--icon {
    display: none;
}

.menu--expanded {
    padding: 0;
    font-size: 30px; 
}

.menu--expanded a {
    text-decoration: none;
    color: rgb(39, 34, 34);
}

main {
    display: flex;
    width: 100%;
}

.content {
    background: rgb(158, 148, 148); 
    margin: auto;
    width: 70%;
    height: 400px;
    display: none;
}

/*////////////////////////////////////////////////////////////////////////////////*/
@media screen and (min-width: 500px) {
    .rwd {
        display: none;
    }
    .content {
        display: block;
    }
}
